<h1>World Stadium Guide</h1>

<h5><a href="/stadium/new">Add A Stadium</a></h5>

<% @stadia.each do |stadium| %>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12"><a href="/stadium/<%= stadium.id %>"><h4><%= stadium.name %></h4></a></div>
    <div class="card-panel hoverable"><a href="/stadium/<%= stadium.id %>"><img src="<%= stadium.pictures %>" alt=""></a></div>
    <div class="col s6 m3 l3"><p>Country: <%= stadium.country %></p></div>
    <div class="col s6 m3 l3"><p>Clubs: <%= stadium.clubs %></p></div>

    <div class="col s6 m3 l3"><p>Likes: <%= stadium.likes.count %></p></div>

    <% if liked?(stadium.id) %>
      <form action="/likes" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="stadium_id" value="<%= stadium.id %>">
         <div class="col s6 m3 l3"><button class="btn waves-effect">Unlike</button></div>
      </form>
    <% else %>
      <form action="/likes" method="post">
        <input type="hidden" name="stadium_id" value="<%= stadium.id %>">
         <div class="col s6 m3 l3"><button class="btn waves-effect">Like</button></div>
      </form> 
  
    <% end  %>
  </div>
<% end %>





